{% extends 'base.html' %} 
{% block title %}About{% endblock %}
{% block content %}
<div class="top-section">
  <h1 class="about-page-title">Finchfetch Microorganisms</h1>
  <p>
    Finchfetch Microorganisms is a database of microorganisms, aimed at
    providing valuable data for research and education. Here, you can find
    detailed information on a variety of microorganisms, including their names,
    images, descriptions, characteristics, cliniccal manifestations and
    laboratory diagnosis methods. This project was created with the aim of
    facilitating easier access to information about these fascinating organisms.
  </p>
</div>
<div class="middle-section">
  <div class="contributor-section">
    <div class="left-side-image">
      <img class="image is-128x128"
        src="/main_app/static/main_app/images/dolores_crazover_picture.png"
        alt="Dolores Crazover"
      />
    </div>
    <div class="right-side-paragraph has-text-black">
      <h2 class="contributor-title">Contributor</h2>
      <p>
        This project was developed by
        <strong style="color: rgb(207, 21, 21)">Dolores Crazover</strong>, a
        passionate scientist with a background in microbiology and
        biotechnology. Dolores holds a Master's degree in Applied Microbiology
        and Biological Engineering and has worked as a microbiology engineer in
        Paris with Eau de Paris and other microbiology laboratories and research
        centers. Part of her career has been devoted to Infectiology,
        Microbiology, Virology, Immunology (IMVI), Biochemistry, biological
        engineering and microbial biotechnology, and Parasitology. You can find
        more of her work on her
        <a
          href="https://github.com/DoloresCode"
          target="_blank"
          style="color: rgb(207, 21, 21)"
          ><strong>Github</strong></a
        >
        and
        <a
          href="https://www.linkedin.com/in/dolores-crazover/"
          target="_blank"
          style="color: rgb(207, 21, 21)"
          ><strong>LinkedIn</strong></a
        >.
      </p>
    </div>
  </div>
</div>
<h2 class="UseCases-title">Use Cases</h2>
<div class="UseCases-section">
  <p>
    The Finchfetch Microorganisms database is widely used by researchers
    studying microbial diversity and by teachers for biology lessons. It also
    serves as a valuable resource for students and enthusiasts interested in
    microorganisms.
  </p>
</div>
{% endblock %}
