{% extends 'base.html' %} {% block content %}
<h1 class="about-page-title">About Finchfetch Microorganisms</h1>
<p>
  Finchfetch Microorganisms is a database of microorganisms, aimed at providing
  valuable data for research and education. Here, you can find detailed
  information on a variety of microorganisms, including their names, images, descriptions, characteristics, cliniccal manifestations and laboratory diagnosis methods. This project was created with the aim of facilitating easier
  access to information about these fascinating organisms.
</p>
{% endblock %}
