{% extends 'base.html' %} {% block content %}
<div class="home__classifications">
    <div class="page-title-collection">
        <h2>Culture Media by Morphological Classification</h2>
    </div>
      
  <h2 class="morphological-class-title">Morphological Class</h2> {% for morphological_classification in morphological_classifications %}

  <div class="classification mb-5">
    <h3 class="title is-success custom-morp-class">
      {{morphological_classification.name}}
    </h3>

    <span>
        <div class="dropdown">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Add Culture Media</span>
              <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              {% for culture_media in culture_medias %}
              <a href="{% url 'morphological_classification_culture_media_assoc' morphological_classification.pk culture_media.pk %}?assoc=add" class="dropdown-item">
                {{ culture_media.name }}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </span>

    <hr />
    <!-- <h2 class="culture-media-title">Culture Media</h2>
    {% for culture_media in morphological_classification.culture_medias.all %}

    <div class="culture_media">
      <span>{{forloop.counter}}</span>
      <span><b>{{culture_media.name}}</b></span>
      <span>{{culture_media.description}}</span>
      <a href="{% url 'morphological_classification_culture_media_assoc' morphological_classification.pk culture_media.pk %}?assoc=remove"
                               class="button is-danger is-outlined">
                                <span class="icon is-small">
                                    <i class="fas fa-times"></i>
                                </span>
                            </a>
                        </span>
    </div> -->

    

    <!-- {% endfor %} -->
  </div>

  {% empty %}
  <div class="morphological_classification mb-5">
    "There are no culture medias for this morphological classification"
  </div>
  {% endfor %}
</div>
{% endblock %}
