{% extends 'base.html' %} {% block content %}
<div class="banner-home-p">
  <h1 class="home-main-title">Welcome to Finchfetch Microorganisms</h1>
</div>
<div class="sous-banner-home">
  <p class="paragraph-home">Learn more about microorganisms.</p>
  <div class="section-quote">
    <p class="quote">
      "Microorganisms are a marvel and a mystery. Life as we know it wouldn't be
      possible without them. They help us digest our food, provide essential
      vitamins, and even shape our moods and behavior."
    </p>
    <p class="author-name">
      - Ed Yong, a science journalist and author of the book "I Contain
      Multitudes".
    </p>
  </div>
</div>
{% endblock %}
