{% extends 'base.html' %} 
{% block title %}Home{% endblock %}
{% block content %}
<div class="banner-home-p">
  <h1 class="home-main-title">Welcome to Finchfetch Microorganisms</h1>
</div>
<div class="sous-banner-home">
  <div class="left-side-banner">
    <p class="paragraph-home has-text-black">Learn more about microorganisms</p>
    <a class="learn-more-btn" href="/microorganisms/">Learn More</a>
  </div>
  <div class="section-quote">
    <p class="quote">
      "Microorganisms are a marvel and a mystery. Life as we know it wouldn't be
      possible without them. They help us digest our food, provide essential
      vitamins, and even shape our moods and behavior."
    </p>
    <p class="author-name">- Ed Yong</p>
    <p class="author-description">
      Science journalist and author of the book "I Contain Multitudes".
    </p>
  </div>
</div>
{% endblock %}
