{% extends 'base.html' %} {% block content %}
<div class="delete-page-container">
  <div class="picture-delete-p"></div>
  <h1 class="delete-page-title">
    Are you sure you want to delete {{microorganism.name}}?
  </h1>
  <form method="post">
    {% csrf_token %}
    <div class="buttons">
      <!-- Confirm microorganism delete -->
      <input class="button is-danger custom-confirm-button" type="submit" value="Confirm" />
      <!-- Redirect back to detail on cancel -->
      <a
        class="button is-primary custom-cancel-button"
        href="{% url 'microorganism_detail' microorganism.pk %}"
        >Cancel</a
      >
    </div>
  </form>
</div>
{% endblock %}
